li.status-info {
  color: #5BC0DE;
}

li.status-warning {
  color: #D9534F;
}

li.status-danger, div#raw_openvpn_panel {
  color: #D9534F;
}

li.status-success {
  color: #5CB85C;
}

img#status-loading {
  display: none;
  margin-right: 5px;
}

img#save-loading {
  display: none;
  margin-left: 5px;
}

div#status {
  display: none;
  margin-top: 10px;
}

div#status ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.btn-danger span {
  color: #eee;
}

a.btn-danger:hover span {
  color: #fff;
}

a.not-allowed {
  cursor: not-allowed;
}

input.allowed {
  cursor: default;
}

a.btn-disabled, a.btn-disabled:hover, a.btn-disabled:active {
  background-color: #999;
  background-image: none;
  border-color: #888;
}

a.btn-disabled:hover span {
  color: #eee;
}

div#github {
  margin: -10px 0 20px 20px;
  background: url(../img/github.png) no-repeat 0 4px;
}

div#github a {
  margin-left: 17px;
}

div#raw_openvpn_panel {
  display: none;
}

textarea#raw_openvpn {
  height: 300px;
  border: 1px solid #D9534F;
}
