[Unit]
Description=YunoHost VPN Client.
Requires=network.target
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/ynh-vpnclient start
ExecStop=/usr/local/bin/ynh-vpnclient stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
