[Unit]
Description=YunoHost VPN Client Checker.
After=ynh-vpnclient.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ynh-vpnclient-checker.sh

[Install]
WantedBy=default.target
